---
title: brutalharmony.net
layout: layouts/home.njk
description: A blog about the brutal harmony in the world of tech.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  A blog about the brutal harmony in the world of tech.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>